.dashboard-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .link-container {
    margin-bottom: 10px;
  }
  
  .dashboard-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0b318f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .dashboard-link:hover {
    background-color: #021e4a;
  }