.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0b318f, #021e4a);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-link img {
  width: 200px;
  height: 100px;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.login {
  color: #fafcff;
  background: #2563eb;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.login:hover {
  background: #0dc362;
}

.register {
  color: #ffffff;
  background: #2563eb;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.register:hover {
  background: #0dc362;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #0dc362;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #0b318f;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #ffffff; /* Border trắng */
  border-radius: 4px;
  padding: 8px 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #021e4a;
}